/* album cover styling, keepin it centered */
.albumcover {
    margin: auto;
}
/* rating styling */
.Rating {
    border-radius: 50%;
    margin: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 0, 0.329);
    border: 3px solid rgb(222, 224, 199);
    /* animation of rating, spins back and forth at 1 degree */
    animation: spin 1s linear infinite;
}
  @keyframes spin{
    0% { -webkit-transform: rotate(-1deg); }
    50% { -webkit-transform: rotate(1deg); }
    100% { -webkit-transform: rotate(-1deg); }
  }
  /* code HEAVILY modified from W3 schools on spinning css */
  

/* each individual album rating */
.LowEndTheory {
    text-align: center;
    vertical-align: center;
    line-height: 300px; 
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:150px;
  }

  .DieLit {
    text-align: center;
    vertical-align: center;
    line-height: 300px; 
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:150px;
  }

  .Graduation {
    text-align: center;
    vertical-align: center;
    line-height: 300px; 
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:150px;
  }

  .Stratosphere {
    text-align: center;
    vertical-align: center;
    line-height: 300px; 
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:150px;
  }
/* styling for eacha article */
.article {
  margin: auto;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  width: 1000px;
  font-weight: 700;
}
/* css for links */
.link{
  text-decoration: underline;
}

  
  
  


