/* this style will apply to the whole body */
.myDivs {
    width: 1000px;
    height: 1500px;
    margin: 0 auto;
    widows: 1000px;
    border-radius: 25px;
    background-color: green; 
    
}
.colorscheme {
    color: #47167F;
    color: #B779FF;
    color: #8E2DFF;
    color: #5C3D7F;
    color: #7224CC;
}    
body {
    background-color: black;
}
a {
    color: white;
}
.container {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-color: #8E2DFF;

}
.banner {
    width: 1366px;
    height: 215px;
    float: left;
    background-color: #47167F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;

}
.nav{
    width: 215px;
    height: 553px;
    float: left;
    background-color: #B779FF;


}
.content{
    width: 1121px;
    height: 553px;
    float: left;
    padding: 15px;

    
}
